.flows.json.backup
[
    {
        "id": "9bb66bd4d6d678d6",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a9e607d3e6ecf26",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "SQLServer",
        "server": "DUYVPRO",
        "port": "1433",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "nasa",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "0c5cc871d2a656b4",
        "type": "inject",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "7683bf38584a13e4"
            ]
        ]
    },
    {
        "id": "7683bf38584a13e4",
        "type": "http request",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1234/apod",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 60,
        "wires": [
            [
                "3c819f0162e06d27"
            ]
        ]
    },
    {
        "id": "7dc9ac4b0ef5e3e5",
        "type": "MSSQL",
        "z": "9bb66bd4d6d678d6",
        "mssqlCN": "0a9e607d3e6ecf26",
        "name": "APOD",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "InsertApodData",
        "modeOpt": "",
        "modeOptType": "execute",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "",
        "paramsOptType": "editor",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [
            {
                "output": false,
                "name": "copyright",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.copyright",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "date",
                "type": "Date",
                "valueType": "msg",
                "value": "payload.date",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "explanation",
                "type": "Text",
                "valueType": "msg",
                "value": "payload.explanation",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "hdurl",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.hdurl",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "media_type",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.media_type",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "service_version",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.service_version",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "title",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.title",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "url",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.url",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 870,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "469cde82d548208d",
        "type": "function",
        "z": "9bb66bd4d6d678d6",
        "name": "function 1",
        "func": "// Lấy dữ liệu JSON từ đầu vào\nvar data = msg.payload;\n\n// Trích xuất dữ liệu từ đối tượng JSON\nvar copyright = data.copyright;\nvar date = data.date;\nvar explanation = data.explanation;\nvar hdurl = data.hdurl;\nvar media_type = data.media_type;\nvar service_version = data.service_version;\nvar title = data.title;\nvar url = data.url;\nvar translate_explanation = data.translate_explanation;\n\n// Lưu trữ dữ liệu vào một đối tượng để truyền vào node mssql\nvar sqlData = {\n    copyright: copyright,\n    date: date,\n    explanation: explanation,\n    hdurl: hdurl,\n    media_type: media_type,\n    service_version: service_version,\n    title: title,\n    url: url,\n    translate_explanation: translate_explanation\n};\n\n// Gửi dữ liệu vào output cho node mssql\nmsg.sqlData = sqlData;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 60,
        "wires": [
            [
                "7dc9ac4b0ef5e3e5"
            ]
        ]
    },
    {
        "id": "3c819f0162e06d27",
        "type": "json",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 60,
        "wires": [
            [
                "469cde82d548208d"
            ]
        ]
    },
    {
        "id": "d205833b79d6b187",
        "type": "inject",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "ccc6f55bce8373ae"
            ]
        ]
    },
    {
        "id": "ccc6f55bce8373ae",
        "type": "http request",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1234/EONET",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 300,
        "wires": [
            [
                "b7088a83b64d064c"
            ]
        ]
    },
    {
        "id": "2ca8a0665b736448",
        "type": "function",
        "z": "9bb66bd4d6d678d6",
        "name": "function 2",
        "func": "// Lấy dữ liệu từ msg.payload\nvar events = msg.payload.features;\nvar newData = [];\n\n// Chuyển đổi dữ liệu thành định dạng phù hợp cho endpoint\nevents.forEach(function (event) {\n    var eventDate = new Date(event.properties.date);\n    if (eventDate.getFullYear() === 2024) {\n        var eventData = {\n            id: event.properties.id,\n            title: event.properties.title,\n            date: event.properties.date,\n            descriptions: event.properties.descriptions,\n            link: event.properties.link,\n            closed: event.properties.closed,\n            magnitudeValue: event.properties.magnitudeValue,\n            magnitudeUnit: event.properties.magnitudeUnit,\n            url: (event.properties.sources && event.properties.sources.length > 0) ? event.properties.sources[0].url : null\n        };\n        newData.push(eventData);\n    }\n});\n\n// Gửi dữ liệu đã được xử lý qua output\nmsg.payload = newData;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 300,
        "wires": [
            [
                "12ec51af34249264"
            ]
        ]
    },
    {
        "id": "b7088a83b64d064c",
        "type": "json",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "2ca8a0665b736448"
            ]
        ]
    },
    {
        "id": "12ec51af34249264",
        "type": "json",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 300,
        "wires": [
            [
                "47826661345c2578"
            ]
        ]
    },
    {
        "id": "69c87e209af2015a",
        "type": "MSSQL",
        "z": "9bb66bd4d6d678d6",
        "mssqlCN": "0a9e607d3e6ecf26",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "InsertApodData",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [
            {
                "output": false,
                "name": "copyright",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.copyright",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "date",
                "type": "Date",
                "valueType": "msg",
                "value": "payload.date",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "explanation",
                "type": "Text",
                "valueType": "msg",
                "value": "payload.explanation",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "hdurl",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.hdurl",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "media_type",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.media_type",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "service_version",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.service_version",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "title",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.title",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "url",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.url",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 1040,
        "y": 360,
        "wires": [
            [
                "cd28b8bdfa6f3aed"
            ]
        ]
    },
    {
        "id": "47826661345c2578",
        "type": "function",
        "z": "9bb66bd4d6d678d6",
        "name": "Prepare Bulk Insert Query",
        "func": "var data = msg.payload; // Giả sử msg.payload là mảng các đối tượng JSON\nvar bulkInsertValues = [];\n\ndata.forEach(function(event) {\n    var values = `('${event.id}', '${event.title}', '${event.date}', '${event.link}', ${event.closed !== null ? `'${event.closed}'` : 'NULL'}, ${event.magnitudeValue !== null ? event.magnitudeValue : 'NULL'}, ${event.magnitudeUnit !== null ? `'${event.magnitudeUnit}'` : 'NULL'}, '${event.url}')`;\n    bulkInsertValues.push(values);\n});\n\nvar bulkInsertQuery = `INSERT INTO EONET_Events (id, title, date_eonet, link, closed, magnitudeValue, magnitudeUnit, urls) VALUES ${bulkInsertValues.join(\", \")}`;\n\nmsg.payload = bulkInsertQuery;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 300,
        "wires": [
            [
                "69c87e209af2015a"
            ]
        ]
    },
    {
        "id": "cd28b8bdfa6f3aed",
        "type": "debug",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 420,
        "wires": []
    },
    {
        "id": "1ec3b31a256f7d27",
        "type": "inject",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "86400",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "60c47d01ab1d9e95"
            ]
        ]
    },
    {
        "id": "60c47d01ab1d9e95",
        "type": "http request",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1234/Mars-Rover-Photos",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 480,
        "wires": [
            [
                "55cfed46ad24a179"
            ]
        ]
    },
    {
        "id": "db3677cfd6d4dd62",
        "type": "function",
        "z": "9bb66bd4d6d678d6",
        "name": "function 3",
        "func": "// Kiểm tra xem msg.payload.photos có tồn tại không\nif (msg.payload && msg.payload.photos) {\n    // Lấy dữ liệu từ msg.payload.photos\n    var photos = msg.payload.photos;\n    var filteredData = [];\n\n    // Lặp qua mảng photos\n    photos.forEach(function (photo) {\n        // Kiểm tra ngày của ảnh\n        var eventDate = new Date(photo.earth_date);\n        if (eventDate.getFullYear() === 2015) {\n            // Nếu ảnh được chụp vào năm 2015, thêm vào mảng filteredData\n            var eventData = {\n                id: photo.id,\n                sol: photo.sol,\n                full_name: photo.camera.full_name,\n                img_src: photo.img_src,\n                total_photos: photo.rover.total_photos,\n                earth_date: photo.earth_date,\n                launch_date: photo.rover.launch_date,\n                landing_date: photo.rover.landing_date\n            };\n            filteredData.push(eventData);\n        }\n    });\n\n    // Gửi dữ liệu đã được lọc qua output\n    msg.payload = filteredData;\n} else {\n    // Xử lý khi msg.payload.photos không tồn tại\n    console.error(\"Không có dữ liệu photos trong msg.payload\");\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 480,
        "wires": [
            [
                "3a9e00fd6a6fe76f"
            ]
        ]
    },
    {
        "id": "55cfed46ad24a179",
        "type": "json",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "db3677cfd6d4dd62"
            ]
        ]
    },
    {
        "id": "3a9e00fd6a6fe76f",
        "type": "json",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 770,
        "y": 480,
        "wires": [
            [
                "198327956a4bb38a"
            ]
        ]
    },
    {
        "id": "5f670d83cdd3e4c4",
        "type": "MSSQL",
        "z": "9bb66bd4d6d678d6",
        "mssqlCN": "0a9e607d3e6ecf26",
        "name": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "InsertApodData",
        "modeOpt": "",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "msg",
        "paramsOpt": "queryParams",
        "paramsOptType": "msg",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [
            {
                "output": false,
                "name": "copyright",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.copyright",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "date",
                "type": "Date",
                "valueType": "msg",
                "value": "payload.date",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "explanation",
                "type": "Text",
                "valueType": "msg",
                "value": "payload.explanation",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "hdurl",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.hdurl",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "media_type",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.media_type",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "service_version",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.service_version",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "title",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.title",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            },
            {
                "output": false,
                "name": "url",
                "type": "NVarChar",
                "valueType": "msg",
                "value": "payload.url",
                "options": {
                    "nullable": true,
                    "primary": false,
                    "identity": false,
                    "readOnly": false
                }
            }
        ],
        "x": 1040,
        "y": 540,
        "wires": [
            [
                "b6ee8889281273a0"
            ]
        ]
    },
    {
        "id": "198327956a4bb38a",
        "type": "function",
        "z": "9bb66bd4d6d678d6",
        "name": "Prepare Bulk Insert Query",
        "func": "var data = msg.payload; // Giả sử msg.payload là mảng các đối tượng JSON\nvar bulkInsertValues = [];\n\ndata.forEach(function (event) {\n    var values = `('${event.id}', '${event.sol}', '${event.full_name}', '${event.img_src}', ${event.total_photos}, '${event.earth_date}', '${event.launch_date}', '${event.landing_date}')`;\n    bulkInsertValues.push(values);\n});\n\nvar bulkInsertQuery = `INSERT INTO MarsRoverPhotos (id, sol, full_name, img_src, total_photos, earth_date, launch_date, landing_date) VALUES ${bulkInsertValues.join(\", \")}`;\n\nmsg.payload = bulkInsertQuery;\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 480,
        "wires": [
            [
                "5f670d83cdd3e4c4"
            ]
        ]
    },
    {
        "id": "b6ee8889281273a0",
        "type": "debug",
        "z": "9bb66bd4d6d678d6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 600,
        "wires": []
    }
]